# Intellij PyCharm files to ignore
.idea/
*.iml
*.iws
*.ipr
*.ids
*.pyc
*.pyo
*.pyd
*.class
*.jar
*.war
*.ear
*.log
*.log.*
*.log*
*.tmp
*.tmp.*
*.tmp*
*.swp
*.swp.*
*.swp*
*.bak
*.bak.*
*.bak*
*.old
*.old.*
*.old*
*.orig
*.orig.*
*.orig*
*.rej
*.rej.*
*.rej*
*.~*
*.~*.*
